{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}Gênero{% endblock %}
{% block estilo %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<style>
.gallery_product {
    margin-bottom: 30px;
    position: relative;
}

.gallery_product .texto {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    /* Estilos específicos para telas menores */
    .gallery_product .texto {
        font-size: 16px; /* Tamanho de fonte menor para telas menores */
        top: 40%; /* Ajuste de posicionamento para telas menores */
    }
}
</style>

{% endblock %}
{% block conteudo %}
<div class="container-fluid">
     <div class="gallery_product">
        <a data-toggle="modal" data-target="#exampleModal" href="#" ><img class="img-fluid" src="{% static  'images/bg.png'%}"></a>
        <h1 class="texto title fw-bold">{{albuns.0.estilo}}</h1>
     </div>
</div>
<div class="container-fluid" style="margin-top:20px;">
  <div class="row" data-masonry='{"percentPosition": true }'>
{% for album in albuns %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        {% if  album.imagem %}
        <img class="img-thumbnail" src="{{album.capa.thumbnail.url}}">
        {% else %}
        <img class="img-thumbnail" src="{% static 'images/music.jpg'%}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{album}}</h5>
          <p class="card-text">{{album.cantor}}</p>
          <p class="card-text">{{album.estilo}}</p>
          <div class="d-grid gap-2">
            <a href="{% url 'album:musicas' album=album.id %}" class="btn btn-block btn-outline-success btn-sm ">Ver Álbum</a>
            {% if user.is_authenticated %}
            <a href="{% url 'album:arquivos_musicais' album=album.id %}" class="btn btn-block btn-outline-primary btn-sm ">Adicionar Músicas</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% empty %}
    <p>Vazio</p>
{% endfor %}
  </div>
</div>
{% endblock %}