{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}Lista Estilos{% endblock %}
{% block conteudo %}
<div class="container-fluid" style="margin-top:60px;">
    <img src="{% static  'images/estilos.jpeg'%}" class="img-fluid">
</div>
<div class="container-fluid" style="margin-top:20px;">
    <table class="table table-hover table-responsive">
        <thead class="bg-primary">
        <tr>
            <th scope="col" class="text-white">#</th>
            <th scope="col" class="text-white">ESTILO</th>
            <th scope="col" class="text-white">NACIONALIDADE</th>
            <th scope="col" class="text-white text-center">PESQUISAR</th>
        </tr>
        </thead>
        <tbody>
        {% for estilo in estilos %}
        <tr>
            <th scope="row" class="text-primary">{{forloop.counter}}</th>
            <td class="text-dark">{{estilo}}</td>
            <td class="text-dark">{{estilo.nacionalidade}}</td>
            <td class="text-dark text-center"><a href="#"><i class="bi bi-box-arrow-in-right"></i></a></td>
        </tr>
        </tbody>
        {% empty %}
        <p>Vazio</p>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock %}
